body {
    font-family: Roboto;
    background-color: black;
}

.post {
    background-color: white;
    width: 500px;
    margin: 70px auto;
}

.post-header {
    display: flex;
    padding: 15px 15px 10px 15px;
}
.post-header p {
    margin: 0;
}

.post-icons {
    display: flex;
    padding: 15px 15px 10px 15px;
}

.post-body {
    padding: 0 15px 15px 15px;
}

img {
    width: 100%;
    object-fit: contain;
}

i {
    margin-right: 10px;
    font-size: 30px;
}
